WcfService1/ConsoleApplication1/Service References/PeopleService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PeopleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPeopleService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IPeopleService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IAnotherInterfaceService_GetEmployeeID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeID" />
  </wsdl:message>
  <wsdl:message name="IAnotherInterfaceService_GetEmployeeID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IPeopleService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IPeopleService/GetData" message="tns:IPeopleService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPeopleService/GetDataResponse" message="tns:IPeopleService_GetData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IAnotherInterfaceService">
    <wsdl:operation name="GetEmployeeID">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnotherInterfaceService/GetEmployeeID" message="tns:IAnotherInterfaceService_GetEmployeeID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnotherInterfaceService/GetEmployeeIDResponse" message="tns:IAnotherInterfaceService_GetEmployeeID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPeopleService" type="tns:IPeopleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IPeopleService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IAnotherInterfaceService" type="tns:IAnotherInterfaceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployeeID">
      <soap:operation soapAction="http://tempuri.org/IAnotherInterfaceService/GetEmployeeID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PeopleService">
    <wsdl:port name="BasicHttpBinding_IPeopleService" binding="tns:BasicHttpBinding_IPeopleService">
      <soap:address location="http://dell:10001/PeopleService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IAnotherInterfaceService" binding="tns:BasicHttpBinding_IAnotherInterfaceService">
      <soap:address location="http://dell:10001/PeopleService.svc/new" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>